<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<p>
  <%= t('.score') %>
  <% if @test_passage.success? %>
    <good><%= @test_passage.score %>%</good><br>
    <good><%= t('.success') %></good>
  <% else %>
    <bad><%= @test_passage.score %>%</bad><br>
    <bad><%= t('.failed') %></bad>
  <% end %>
</p>
<%= link_to t('.back'), tests_path %>