<p>
  <strong><%= t('.header') %>:</strong>
  <%= @answer.question.test.title %>
</p>

<p>
  <strong><%= t('.body') %>:</strong>
  <%= @answer.question.body %>
</p>
<p>
  <strong><%= t('.answers') %>:</strong>
  <%= @answer.body %>
</p>
<p>
  <strong><%= t('.correct') %>:</strong>
  <%= @answer.correct %>
</p>

<%= link_to t('.back'), admin_question_path(@answer.question) %>
